#container {
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

#tower {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    height: 500px;
    width: 20px;
    position: relative;
    top: 0px;
    justify-self: auto;
}

#tower #rod {
    height: 500px;
    width: 20px;
    top: 0px;
    z-index: -1;
    background-color: navy;
    display: block;
    position: fixed;
    
}

#tower #one{
    height: 30px;
    width: 30px;
    background-color: red;
}

#tower #two {
    height: 30px;
    width: 55px;
    background-color: blue;
}

#tower #three {
    height: 30px;
    width: 80px;
    background-color: green;
}

#tower #four {
    height: 30px;
    width: 100px;
    background-color: orange;
}